header{

    background-color: #860d78;
    color: plum;
    display:  flex; 
    justify-content: space-around;

}
.cabeçalho-imagem{width: 20%;}
.cabeçalho-lista-item{
    
     display:inline-block;
     margin:0 16px;

}

 .escola-imagem{
       width: 25%;  
 }
  
  .escola{
        background-image: linear-gradient(#860d78, #AA78A5);
  }