header{

    background-color: rgb(0, 0, 0);
    color: rgba(255, 249, 249, 0.897);
    display:  flex; 
    justify-content: space-around;

}
.cabeçalho-imagem{width: 20%;}
.cabeçalho-lista-item{
    
     display:inline-block;
     margin:0 16px;

}

